<section class="card">
  <a href="/painting/{{id}}">
    <header>{{title}}</header>
<h1>painting-details.handlebars</h1>
    <div class="card-body">
      <p>{{content}}</p>
      <p>By: {{blogger}}</p>
    </div>
  </a>
    <p>painting-details.handlebars</p>

</section>