<section class="card">
  <a href="/post/{{id}}">
    <header>{{title}}</header>
    <div class="card-body">
      <h4>Most recent post for this topic:</h4>
      <p>{{content}}</p>
      <p>By: {{blogger}}</p>
    </div>
  </a>
    <hr>
  <p>(The most recent comment for this post will go here)</p>

    <p>(post-details.handlebars)</p>

</section>