<section class="card">
  <a href="/post/{{id}}">
    <header>{{title}}</header>
    <div class="card-body">
      <p>{{content}}</p>
      <p>By: {{blogger}}</p>
    </div>
  </a>
    <hr>
    <p>(post-details.handlebars)</p>

</section>