<section class="card">
  <a href="/post/{{id}}">
    <header>{{title}}</header>
    <div class="card-body">
    </div>
  </a>
    <hr>
  <p>comments go here</p>

    <p>post-titles.handlebars</p>

</section>