<section class="card">
  <a href="/topic/{{id}}">
    <header>{{name}}</header>
    <p>Most recent post for this topic:</p>
    {{posts.[0].content}}
  </a>
  <p>(topic-details.handlebars)</p>
</section>