<section class="card">
  <a href="/comment/{{id}}">
    <div class="card-body">
      <p>Comment by {{commenter}} on {{format_date comment_date}}</p>
      <p>{{comment_text}}</p>
    </div>
  </a>
</section>