<section class="container">
<div class="topic-name">
<h3>Dashboard</h3>
  <h2 class="page-title">Write a new post</h2>
  <div class="form-group">
    <form action="/api/users/newpost" method="post" class="form signup-form">
      <label for="title">Title</label>
      <input type="text" id="title" name="title" required>
      <hr>
      <p>TOPIC:</p>
      <div>
        <input type="radio" id="topic1"
        name="topic_id" value="1">
        <label for="topic1">HTML:</label>

        <input type="radio" id="topic2"
        name="topic_id" value="2">
        <label for="topic2">JavaScript</label>
 
        <input type="radio" id="topic3"
        name="topic_id" value="3">
        <label for="topic3">CSS</label>

        <input type="radio" id="topic4"
        name="topic_id" value="4">
        <label for="topic4">Other</label>
      </div>
      <hr>
      <textarea id="post_text" name="content" rows="4" cols="80" placeholder="New post...">
      </textarea>

      <input type="hidden" name='blogger' value='Henrietta'>
      <input type="hidden" name='post_date' value='2017-05-05 08:00:00'>
      <hr>
      <button class="btn" type="submit">Save post</button>
    </form>
  </div>
</div>
{{#each posts as |post|}}
{{> post-titles}}
{{/each}}
</section>
