<section class="painting">
  <h3>{{painting.title}}</h3>
    <p>{{painting.content}}</p>
  <div class="painting-details">
    <p>By: {{painting.blogger}}</p>
    <p>Posted on: {{ format_date painting.exhibition_date}}</p>
  </div>
  <p>painting.handlebars</p>

</section>