<section class="post">
  <h3>{{post.title}}</h3>
    <p>Posted by: {{post.blogger}} on {{ format_date post.post_date}}</p>
  <div class="post-details">
    <p>{{post.content}}</p>
  </div>
  <p>(post.handlebars)</p>
</section>