<section class="post">
  <h3>{{post.title}}</h3>
    <p>{{post.content}}</p>
  <div class="post-details">
    <p>By: {{post.blogger}}</p>
    <p>Posted on: {{ format_date post.exhibition_date}}</p>
  </div>
  <p>post.handlebars</p>

</section>